<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Show all Patients</h4>
<div class="col-6">
    <h3 th:unless="${patients} and ${patients.size()}">There are no patients!</h3>
    <table th:if="${patients.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Egn</th>
        <th>Age</th>
        <th sec:authorize="hasAnyRole('ADMIN')">Edit</th>
        <th sec:authorize="hasAnyRole('ADMIN')">Delete</th>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.getPatientData().firstName}"></td>
            <td th:text="${patient.getPatientData().lastName}"></td>
            <td th:text="${patient.getPatientData().egn}"></td>
            <td th:text="${patient.getPatientData().age}"></td>
            <td sec:authorize="hasAnyRole('ADMIN')"><a class="btn btn-info" th:href="@{'/patients/edit-patient/'+${patient.id}}">Edit</a></td>
            <td sec:authorize="hasAnyRole('ADMIN')"><a class="btn btn-danger" th:href="@{'/patients/delete/'+${patient.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>