<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>School Management</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<header th:fragment="header">
    <h1>School Management System</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/doctors/create-doctor">Create doctor</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/doctors">List of doctors</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/doctors/search-doctor">Search for doctor</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/patients/create-patient">Create patient</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/patients">List of patients</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/patients/search-patient">Search for patient</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/health-insurances/create-health-insurance">Create health insurance</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/health-insurances">List of health insurances</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/health-insurances/search-health-insurances">Search for health insurance</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/gp-patient-registrations/create-gp-patient-registration">
                        Create Gp-Patient Registration
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/gp-patient-registrations">List of Gp-Patient Registrations</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" href="/gp-patient-registrations/search-gp-patient-registration">
                        Search for Gp-Patient Registration
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DOCTOR')">
                    <a class="nav-link" href="/patient-disease-records/create-patient-disease-record">
                        Create Patient Disease Record
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DOCTOR')">
                    <a class="nav-link" href="/patient-disease-records">List of Patient Disease Records</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'PATIENT', 'DOCTOR')">
                    <a class="nav-link" href="/patient-disease-records/search-patient-disease-record">
                        Search for Patient Disease Record
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>
<!--<footer page-footer font-small>-->
<!--    <div class="footer-copyright text-center py-3">© 2020 Copyright:-->
<!--        <a href="#"> School Management System</a>-->
<!--    </div>-->
<!--</footer>-->
</html>
